//-- Blog pagination --
.blog-pagination{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__item{
		display: inline-block;
		font-family: $font-text;
		font-size: 12px;
		line-height: 14px;
		font-weight: 100;
		text-transform: uppercase;
		color: $color-black;
		span{
			display: inline-block;
			border-bottom: $border-transparent;
			transition: $hover-effect;
		}
		&:hover{
			cursor: pointer;
			span{
				border-bottom: $border-gray;
			}
		}
		&:first-child{
			position: relative;
			padding-left: 20px;
			&:before{
				content: "<";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&:last-child{
			position: relative;
			padding-right: 20px;
			&:after{
				content: ">";
				display: block;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}