//-- Product --
.product{
	&__preview{
		overflow: hidden;
		height: 310px;
		position: relative;
		background-color: $color-white;
		&:hover{
			@include media-tablet-horizontal {
				.product__image{
					transform: $zoom;
					transition: $hover-effect;
				}
				.product__quick-shop{
					opacity: 1;
					transition: $hover-effect;
					top: 50%;
        			transform: translateY(-50%);
				}
			}
		}
	}	
	&__image{
		transition-duration: $transition-duration;
		img{
			width: 100%;
			height: auto;
		}		
	}

	&__label{
		display: block;
    	position: absolute;
    	top: 0%;
    	left: 0%;
    }
    &__quick-shop{
    		display: none;
		@include media-tablet {
        	display: none;
		}
		@include media-tablet-horizontal {
			display: block;
        	position: absolute;
        	opacity: 0;
        	z-index: 999;
        	transition-duration: $transition-duration;
        	width: 100%;
        	left: 0%;
        	top: 0%;
        	font-size: 10px;
        	line-height: 12px;
        	font-family: $font-text;
        	color: $color-black;
        	font-weight: 400;
        	text-align: center;
        	padding: 6px 10px;
        	text-transform: uppercase;
        	background-color: rgba(255, 255, 255, 0.8);
        	&:hover{
        		color: $color-gray;
        		transition-duration: $transition-duration;
        	}
		}
    }
    &__content{
    	background-color: $color-white;
    	padding: 13px 10px;
    	text-align: center;
    }
    &__title{
    	margin-bottom: 8px;
    	a{
	    	font-size: 14px;
	    	line-height: 16px;
	    	font-weight: 700;
	    	font-family: $font-title;
	    	color: $color-black;
	    	text-transform: uppercase;
	    	transition-duration: $transition-duration;
	    	&:hover{
	    		color: $color-gray;
	    		transition-duration: $transition-duration;
	    	}
    	}
    }
    &__price{
    	font-size: 11px;
    	line-height: 13px;
    	font-family: $font-text;
    	color: $color-black;
    }
}