//-- Review item --
.review{
	background-color: $color-gray-light;
	padding: 15px;
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
	}
	&__title{
		font-size: 10px;
		font-family: $font-text;
		text-transform: uppercase;
		color: $color-black;		
	}
	&__content{
		font-size: 11px;
		line-height: 14px;
		font-family: $font-text;
		color: $color-gray;
		margin-bottom: 15px;
		text-align: justify;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 11px;
		line-height: 14px;
		font-family: $font-text;
		color: $color-gray;
	}
}