.blog-reviews{
	&__title{
		font-family: $font-title;
		font-size: 18px;
		text-transform: uppercase;
		color: $color-black;
		margin-bottom: 15px;
	}
	&__content{}
	&__item{
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0px;
		}
		&_replay{
			margin-left: 20px;
		}
	}

}


.blog-review{
	background-color: $color-gray-light;
	padding: 25px 5px 20px 30px;
	&__author{
		font-family: $font-text-second;
		font-size: 11px;
		line-height: 14px;
		font-weight: 700;
		text-transform: capitalize;
		color: $color-black;
		margin-bottom: 15px;
	}
	&__content{
		font-family: $font-text-second;
		font-size: 12px;
		line-height: 14px;
		text-transform: capitalize;
		color: $color-gray;
		margin-bottom: 25px;
	}
	&__meta{
		display: flex;
		justify-content: space-between;
	}		
	&__date{
		font-family: $font-text-second;
		font-size: 11px;
		line-height: 14px;
		text-transform: capitalize;
		color: $color-gray;
	}
	&__replay{
		font-family: $font-text-second;
		font-size: 14px;
		line-height: 16px;
		text-transform: capitalize;
		color: $color-black;
		border-bottom: $border-transparent;
		transition: $hover-effect;
		&:hover{
			border-bottom: $border-gray;
		}

	}		

}
	