.footer
	.container
		.footer__top
			ul.border-menu
				li.border-menu__item
					a.border-menu__link(a href="#" target="_blank") About G-Star Raw
				li.border-menu__item
					a.border-menu__link(a href="#" target="_blank") G-Star Retailers
				li.border-menu__item
					a.border-menu__link(a href="#" target="_blank") FAQ 
				li.border-menu__item
					a.border-menu__link(a href="#" target="_blank") Contact
				li.border-menu__item
					a.border-menu__link(a href="#" target="_blank") Privacy Policy
				li.border-menu__item
					a.border-menu__link(a href="#" target="_blank") Terms & Conditions
		.footer__top-desktop
			.footer__content
				.footer__col-3
					.footer__content
						.footer__col-2
							.footer-widget.footer-widget_column
								.footer-widget__title shopping guide
								.footer-widget__content
									ul.footer-widget__menu
										li
											a.footer-widget__menu-link(a href="#" target="_blank") About G-Star Raw
										li
											a.footer-widget__menu-link(a href="#" target="_blank") Corporate Responsibility
										li
											a.footer-widget__menu-link(a href="#" target="_blank") Press Room
										li
											a.footer-widget__menu-link(a href="#" target="_blank") Careers
										li
											a.footer-widget__menu-link(a href="#" target="_blank") G-Star Retailers
										li
											a.footer-widget__menu-link(a href="#" target="_blank") Open a G-Star Store
						.footer__col-2
							.footer-widget.footer-widget_column
								.footer-widget__title help & info
								.footer-widget__content
									ul.footer-widget__menu
										li
											a.footer-widget__menu-link(a href="#" target="_blank") faq
										li
											a.footer-widget__menu-link(a href="#" target="_blank") contact
										li
											a.footer-widget__menu-link(a href="#" target="_blank") Privacy Policy
										li
											a.footer-widget__menu-link(a href="#" target="_blank") Terms & Conditions
										li
											a.footer-widget__menu-link(a href="#" target="_blank") Disclaimer
					.footer__content
						.footer__col-1
							.footer-widget.footer-widget_column
								.footer-widget__title our contacts
								.footer-widget__content
									p tel:  
										a.footer__link(href="tel:01234000123456") 01234 (000) 123 456
									p e-mail: 
										a.footer__link(href="mailto:support@theshop.com") support@theshop.com
				.footer__col-3
					.footer-widget.footer-widget_column
						.footer-widget__title twitter
						.footer-widget__content
							.footer-widget__twitter
								.footer-widget__twitter-post(href="#")
									|check out the new upcoming phone !!! wow!!! <a href="#">#Valentine's Day</a> 
									|<a href="#">#Australia</a>  <a href="#">http://t.co/wRye6rBElN</a> 
									|- <span>7 hours ago</span>
								.footer-widget__twitter-post(href="#")
									|your solution partner:<a href="#"> http://t.co/StOrIs63bd</a>
									|<a href="#">#magento</a> <a href="#">#IT</a> <a href="#">
									|#websitedevlopment</a> - <span> 8 hours ago</span>
									| 
					.footer-widget.footer-widget_column
								.footer-widget__title store location
								.footer-widget__content
									p Company ltd.co
									p 234 Fake address name,
									p Fake city name, Country
										
				.footer__col-3
					.footer-widget.footer-widget_column
						.footer-widget__title about us
						.footer-widget__content
							| One could refuse to pay expensive translators, the European languages 
							| aremembers of the same family. Their separate existence is a myth. Uses 
		.footer__middle
			.footer-widget.footer-widget_line
				.footer-widget__title newsletter					
				.footer-widget__content
					include ../modules/form-subscription
			.footer-widget.footer-widget_line
				.footer-widget__title.footer-widget__title_disable connect us					
				.footer-widget__content
					include ../modules/social-networks
		.footer__bottom
			.footer-widget
				.footer-widget__content
					img(src="img/footer-payment.png" title="Shop payment" alt="Shop payment")
			.footer-widget
				.footer-widget__content © 2016 the shop. All Rights Reserved