.slider
	.container
		.slider__item
			picture.slider__img
				source(media="(min-width: 768px)" srcset="img/main-slider-tablet-1.jpg")
				img(src="img/main-slider-mobile-1.jpg" alt="Unicorn Pool Float")
			.slider__content
				.slider__text.slider-text new accessories collection
				.slider__title.slider-title Spring Essentials
				a.slider__button.button(href="#action") shop now
				a.slider__button-tablet.button(href="#action") shop women’s accessories

.slider-desktop
	.slider-desktop__item
			.container
				.slider-desktop__wrap-content
					.slider-descktop__content
						.slider-desktop__text.slider-text new accessories collection
						.slider-desktop__title.slider-title Spring Essentials
						a.slider-desktop__button.button(href="#action") shop women’s accessories




