//-- Posts widget --

.posts-widget{
	&__item{
		margin-bottom: 20px;
	}
	&__more{
		text-align: right;	
	}
	&__more-link{
		display: inline-block;
		color: $color-black;
		font-family: $font-title;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 2px;
		border-bottom: $border-gray;
		transition: $hover-effect;
		&:hover{
			color: $color-gray;
			border-bottom: $border-transparent;
			
		}			
	}
}
