extends common/layout
block content
	.page
		.container
			.page__breadcrumbs
				include includes/single-post/page-breadcrumbs
			.page__container
				//-- Right Sidebar--
				.page__sidebar.page-sidebar
					.page-sidebar__widget.blog-widget
						.blog-widget__title categories
						.blog-widget__body
							.blog-widget__content
								ul.blog-widget__list
									li.blog-widget__item
										a.blog-widget__link(href="#") Celebrity Style
											span (39)
									li.blog-widget__item
										a.blog-widget__link(href="#") Fashion Shows
											span (15)
									li.blog-widget__item
										a.blog-widget__link(href="#") Shopping
											span (27)
					.page-sidebar__widget.blog-widget
						.blog-widget__title labels
						.blog-widget__body
							.blog-widget__content
								ul.blog-widget__tags.tag-cloud
									li.tag-cloud__item
										a.tag-cloud__link(href="#") ALAÏA ALEXA					
									li.tag-cloud__item
										a.tag-cloud__link(href="#") Style						
									li.tag-cloud__item
										a.tag-cloud__link(href="#") workshop
									li.tag-cloud__item
										a.tag-cloud__link(href="#") Style					
									li.tag-cloud__item
										a.tag-cloud__link(href="#") woomen
									li.tag-cloud__item
										a.tag-cloud__link(href="#") ALAÏA ALEXA					
									li.tag-cloud__item
										a.tag-cloud__link(href="#") Style						
									li.tag-cloud__item
										a.tag-cloud__link(href="#") workshop
									li.tag-cloud__item
										a.tag-cloud__link(href="#") Style					
									li.tag-cloud__item
										a.tag-cloud__link(href="#") woomen
				//Content
				.page__content.single-post
					h1.single-post__title.post-title what’s the best beauty look to wear with a metallic?
					.single-post__meta.post-meta
						.post-meta__date 11 January 2015
					.single-post__preview.post-preview
						img(src="img/Watermark.jpg" alt="what’s?" title="what’s?")
					.single-post__content.post-content
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh		
					single-post__reviews 
						include includes/single-post/reviews					
					.single-post__review-form
						include includes/single-post/review-form						
					.single-post__pagination
						include includes/single-post/blog-pagination						