.accordion
	.accordion__item
		.accordion__title.accordion__title_active description
		.accordion__content.accordion__content_active
			| Ut wisi enim ad minim veniam, quis nostrud exerci tation 
			|ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
	.accordion__item
		.accordion__title description
		.accordion__content
			| Ut wisi enim ad minim veniam, quis nostrud exerci tation 
			|ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
	.accordion__item
		.accordion__title description
		.accordion__content
			| Ut wisi enim ad minim veniam, quis nostrud exerci tation 
			|ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 