//----- Pagination ------
.pagination
	a(href='#').pagination__item.pagination__item_prev
	a(href='#').pagination__item.pagination__item_active 1
	a(href='#').pagination__item 2
	a(href='#').pagination__item 3
	span.pagination__item ...
	a(href='#').pagination__item 10
	a(href='#').pagination__item.pagination__item_next
//----- /Pagination ------