// -- Radio group --
.radio-group
	.radio-group__item.radio
		input#register.radio__button(type="radio" name="register" value="register"  checked)
		label.radio__label(for="register") register
	.radio-group__item.radio
		input#guest.radio__button(type="radio" name="register" value="guest")
		label.radio__label(for="guest") guest