// -- Review item --

// -- /Review item --

.reviews
	.reviews__title reviews
	.reviews__content
		.reviews__item.review
			.review__top
				.review__title must have!
				.review__rating
					include rating
			.review__content
				|Ut wisi enim ad minim veniam, quis nostrud exerci tation 
				|ullamcorper suscipit lobortis nisl ut aliquip ex commodoconsequat.
				|hendrerit in vulputate velit esse molestie consequat
			.review__bottom
				.review__date Feb 09, 2014
				.review__author Jane Moren
		.reviews__item.review
			.review__top
				.review__title must have!
				.review__rating
					include rating
			.review__content
				|Ut wisi enim ad minim veniam, quis nostrud exerci tation 
				|ullamcorper suscipit lobortis nisl ut aliquip ex commodoconsequat.
				|hendrerit in vulputate velit esse molestie consequat
			.review__bottom
				.review__date Feb 09, 2014
				.review__author Jane Moren		
	.reviews__button.button.button_small write review