//-- Social network menu
.social-network
    .social-network__item
        a(href="#" target="_blank").social-network__link
            +icon('twitter')
    .social-network__item
        a(href="#" target="_blank").social-network__link
            +icon('pinterest')
    .social-network__item
        a(href="#" target="_blank").social-network__link
            +icon('facebook')
    .social-network__item
        a(href="#" target="_blank").social-network__link
            +icon('youtube')
    .social-network__item
        a(href="#" target="_blank").social-network__link
            +icon('instagram')    