//Choice currency
.choice-select
	button.choice-select__button usd
	input(type="hidden").choice-select__input-hidden
	ul.choice-select__list
		li(data-value='usd').choice-select__list-item usd
		li(data-value='euro').choice-select__list-item euro