//Choice language
.choice-select
	button.choice-select__button english
	input(type="hidden").choice-select__input-hidden
	ul.choice-select__list
		li(data-value='english').choice-select__list-item english
		li(data-value='german').choice-select__list-item german