
.header__form.inline-form
	.inline-form__item.inline-form__item_desktop
		include choice-select-company
	.inline-form__item
		include choice-select-currency
	.inline-form__item
		include choice-select-language