// -- Single post rewiews --
.reviews
	.reviews__title 3 reviews
	.reviews__content
		.reviews__item.review
			.review__author Mettee Vits
			.review__content
				|Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum 
				|claritatem. Investigationes demonstraverunt lectores legere me lius quod ii |legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem 
				|consuetudium lectorum
			.review__meta
				span.review__date Feb 09, 2014
				a.review__replay(href="#") Reply
		.reviews__item.reviews__item_replay.review
			.review__author Mettee Vits
			.review__content
				|Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum 
				|claritatem. Investigationes demonstraverunt lectores legere me lius quod ii |legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem 
				|consuetudium lectorum
			.review__meta
				span.review__date Feb 09, 2014
				a.review__replay(href="#") Reply