// -- Review form --
form.review-form(method="POST" action="#")
	.review-form__title write review
	.review-form__content
		.review-form__group
			label.review-form__label.label name
			input.review-form__input.input
		.review-form__group
			label.review-form__label.label review text
			textarea.review-form__textarea.textarea
		.review-form__group
			button.review-form__button.button.button_small submit review