// -- Cart total -- 
.cart-total
	.cart-total__row
		.cart-total__name subtotal
		.cart-total__value $825.000
	.cart-total__row
		.cart-total__name delivery costs
		.cart-total__value $35.000
	.cart-total__row
		.cart-total__name gift voucher
		.cart-total__value $5.000
	.cart-total__row.cart-total__row_bottom
		.cart-total__name total including tax
		.cart-total__value.cart-total__value_big $855.00