// -- Select --
.select
	button.select__button size
	input.select__input-hidden(type="hidden")
	ul.select__list
		li.select__list-item(data-value="xl") xl
		li.select__list-item(data-value="xxl") xxl
		li.select__list-item(data-value="xxxl") xxxl
		li.select__list-item(data-value="xxxxl") xxxl