// -- Stepper -- 
.stepper
	label.stepper__field
		input.stepper__input(type="text" value="1" maxlength="2")
	.stepper__buttons
		.stepper__button.stepper__button_up(aria-label="Up") +
		.stepper__button.stepper__button_down(aria-label="Down") -